body {
  background-color: rgb(54, 171, 171);
}

.header {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
}

.caption {
  display: flex;

  justify-content: center;
}
.c1 {
  font-size: 25px;
  color: blanchedalmond;
  font-family: cursive;
}
@media (max-width: 500px) {
  .c1 {
    font-size: 15px;
    color: blanchedalmond;
    font-family: cursive;
  }
  .header {
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
  }
}
.c2 {
  color: rgb(189, 19, 19);
  font-weight: bold;
}
.display-font {
  background-image: linear-gradient(45deg, red, blue);
  border-radius: 20px;
  margin: 40px;
}
@media (max-width: 500px) {
  .display-font {
    background-image: linear-gradient(45deg, red, blue);
    border-radius: 20px;
    margin: 10px;
  }
}
.display {
  font-size: 25px;
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.comment {
  display: flex;
  justify-content: center;
  color: azure;
  font-size: 20px;
}
@media (max-width: 500px) {
  .display {
    font-size: 15px;
    display: flex;
    justify-content: center;
    font-weight: bold;
  }

  .comment {
    display: flex;
    justify-content: center;
    color: azure;
    font-size: 10px;
  }
}

.input-sect {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.input {
  background-color: black;
  color: white;
  height: 6vh;
  width: 250px;
  margin: 50px;

  border-color: black;
  border-radius: 10px;
}
.input ::placeholder {
  color: white;
  font-size: 4rem;
  padding: 10px;
  font-size: 16px;
}
.checkbtn {
  display: flex;
  justify-content: center;
}
.check {
  background-color: red;
  font-weight: bold;
  font-size: large;
  border-radius: 7px;
  cursor: pointer;
}
.footer {
  display: flex;
  justify-content: center;
  margin: 80px;
  font-size: 0.8rem;
}
